<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-h1 class="Titulo">Quien soy</ion-h1>
<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/foto.jpg" class="foto">
      <ion-card-subtitle>este soy yo</ion-card-subtitle>
      <ion-card-title>Manuel Jimenez</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estudiante de 5 semestre de ingeniería de
software con énfasis en programación 
back-end. Con conocimiento en JavaScript, 
HTML, CSS, Docker y LARAVEL para el 
desarrollo web e intereses en prácticas 
como PHP, ARDUINO y Android Studio. Gran 
capacidad de trabajo en equipo, aprendizaje 
continuo, comunicación efectiva, orientación
al logro.
    </ion-card-content>
  </ion-card>
</ion-content>
