<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formación academica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/icono01.jpg">
      <ion-card-subtitle>Estos son mis estudios</ion-card-subtitle>
      <ion-card-title>Manuel Javier Q. Jimenez</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Ingenieria de software</ion-label>
    </ion-item>
  
    <ion-card-content>
      Actual mente me encuentro cursando este curso
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Pixel Art para principiantes</ion-label>
    </ion-item>
  
    <ion-card-content>
      Culminado el 26 de Julio del año 2021
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Tegnólogo en Negociación Internacional</ion-label>
    </ion-item>
  
    <ion-card-content>
      Culminado el 27 de febrero del año 2018
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Mercadeo y Servicio al cliente (30horas)</ion-label>
    </ion-item>
  
    <ion-card-content>
      Culminado  el 2 de agosto del año 2017
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Elaboración del Presupuesto para el manejo de las finanzas personales (20 horas)</ion-label>
    </ion-item>
  
    <ion-card-content>
      Culminado el 26 de julio del año 2017
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Excel Intermedio (40 horas)</ion-label>
    </ion-item>
  
    <ion-card-content>
      Culminado el 24 de marzo del año 2017
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label>Operaciones Comerciales de Almacenes de Cadena</ion-label>
    </ion-item>
  
    <ion-card-content>
      Culminado el 26 de noviembre del año 2014
    </ion-card-content>
  </ion-card>

  
</ion-content>
