<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  Bienvenidos este es un espacio en donde veras una hoja de vida creada con ionic
  para comenzar da clic en la "hamburguesa" o tres lineas en la parte superior izquierda allí podras navegar por:
  <ol>
    <li>inicio</li>
    <li>Mi perfil</li>
    <li>Experiencia</li>
    <li>Educacion</li>
    <li>Contacto</li>
  </ol>
</ion-card>
</ion-content>
