<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/logo.png" class="QR">
      <ion-card-subtitle class="subt">Mi experiencia laboral</ion-card-subtitle>
      <ion-card-title>Manuel Jimenez</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Innobo 03/12/2021 - 28/02/2022
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <b>Cargo: </b> Aux de desarrollo
      <ion-ul>
        <li>Participar en procesos de análisis, construcción y pruebas de soluciones en Magaya.</li>
          <li>Brindar soporte oportuno a los clientes de la empresa.</li>
          <li>Realizar controles de cambio.</li>
        <li>Realizar documentación técnica de los proyectos.</li>
          
      </ion-ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Konecta 01/10/2019 - 01/12/2021
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <b>Cargo: </b> Representante de Servicios
      <ion-ul>
        <li>Suministrar información y asesorar a los clientes de forma ágil y cordial</li>
          <li>Informar al cliente de tasas de comercio exterior, cobros, uso de la plataforma, hacer y llenar documentos de envio y reintegro de dinero y mercancia enviada y/o recibida del exterior</li>
          <li>Cumplir con metas establecidas por la campaña</li>          
      </ion-ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>COS 27/06/2019 - 31/08/2019
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <b>Cargo: </b> Recuperación Claro
      <ion-ul>
        <li>Suministrar información y asesorar a los clientes de forma ágil y cordial</li>
          <li>Gestion de PQR's</li>
          <li>Informacion de procesos de facturación y formas de uso del servicio</li> 
          <li>Recuperar y  dar solución al cliente dependiendo las necesidades</li>         
      </ion-ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Konecta 03/11/2017 - 07/05/2019
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <b>Cargo: </b> Cobros Vodafone
      <ion-ul>
        <li>Suministrar información y asesorar a los clientes de forma ágil y cordial</li>
          <li>Gestion de PQR's</li>
          <li>Informacion de procesos de facturación y formas de uso del servicio</li> 
          <li>Recobro monetario en cuanto a factura</li>     
          <li>Negociacion de plazos de pago</li>    
      </ion-ul>
    </ion-card-content>
  </ion-card>


</ion-content>
